.expence-item{background-color: aliceblue; border-radius: 20px; padding: 20px 30px; display: flex; align-items: center; justify-content: space-between; margin: 10px 20px;}
.expence-item_date{display: flex;}
.expence-item_date div{margin-left: 10px;}




